<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Megastore</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body class="d-flex flex-column">

  <!-- Header -->
  <header class="d-flex justify-content-between align-items-center p-3">
    <div class="logo"><a href="{{url_for('index')}}">megastore</a></div>
    <div>
      <button class="icon-btn"><i class="bi bi-cart"></i> Carrinho</button>
      <button class="icon-btn"><i class="bi bi-person"></i> Perfil</button>
    </div>
  </header>

  <!-- Search Bar -->
  <section class="search-bar container my-4">
    <form method="POST" class="input-group">
        <input type="text" name="termo" class="form-control" placeholder="Buscar produtos...">
        <button class="btn btn-dark" type="submit">Buscar</button>
    </form>
  </section>

  <!-- Produtos Recomendados -->
  <section class="container">
    <h4 class="mb-3">Produtos Recomendados</h4>
    <div class="row">
      {% for produto in produtos_recomendados %}
  <div class="col-md-3">
    <div class="product-card text-center">
      {% set imagem = produto.imagens.filter_by(is_primary=True).first() %}
      {% if imagem %}
        <img src="{{ url_for('static', filename='uploads/' ~ imagem.filename) }}" alt="{{ produto.nome }}" class="img-fluid mb-2">
      {% else %}
        <img src="{{ url_for('static', filename='images/default.png') }}" alt="Sem imagem" class="img-fluid mb-2">
      {% endif %}
      <h6>{{ produto.nome }}</h6>
      <p class="text-muted">{{ produto.categoria }}</p>
      <p class="fw-bold">R$ {{ produto.preco }}</p>
    </div>
  </div>
{% endfor %}
    </div>
  </section>

  <!-- Últimas Pesquisas -->
  <section class="container my-5">
  <h4 class="mb-3">Últimas Pesquisas</h4>
  <div class="row" id="ultimas-pesquisas">
    <!-- JS vai preencher aqui -->
  </div>
</section>

  <!-- Footer -->
  <footer class="text-center p-4">
    <p>&copy; 2025 Megastore. Todos os direitos reservados.</p>
  </footer>


<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

</body>
</html>


